<h1>{{this.title}}</h1>

<div *ngIf="userService.isLoged;else logout">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image':'url('+userService.userImageSrc+')'}" class="example-header-image"></div>
      <mat-card-title>{{userService.userName}}</mat-card-title>
      <mat-card-subtitle>Usuario</mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <button mat-raised-button color="primary" (click)="userService.googleLogout()">Logout</button>
</div>

<ng-template #logout>
  <button mat-raised-button color="primary" (click)="userService.attemptGoogleAuth()">Login</button>
</ng-template>
